<h3>Greenwich Vietnam campuses</h3>
<ul>
    <li>
        <a asp-controller="Greenwich" asp-action="HaNoi">
            Hà Nội
        </a>
    </li>
    <li>
        <a asp-controller="Greenwich" asp-action="HCMCity">
            Hồ Chí Minh City
        </a>
    </li>
    <li>
        <a asp-controller="Greenwich" asp-action="DaNang">
            Đà Nẵng
        </a>
    </li>
    <li>
        <a asp-controller="Greenwich" asp-action="CanTho">
            Cần Thơ
        </a>
    </li>
</ul>