<!-- insert text -->
<h1 style="color: red;">Hello world</h1>
<h2 id="asp">We are learning ASP.NET Core</h2>

<!-- insert table -->
<table class="table table-success">
    <tr>
        <th colspan="5" class="text text-danger">Department List</th>
    </tr>
    <tr>
        <th>1</th>
        <th colspan="4">English department</th>
    </tr>
    <tr>
        <th>2</th>
        <th colspan="4">IT department</th>
    </tr>
    <tr>
        <th>3</th>
        <th colspan="4">Graphic Design department</th>
    </tr>
    <tr>
        <th>4</th>
        <th colspan="4">Business department</th>
    </tr>
</table>

<!-- insert video Youtube -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/srlBwxXLyhk?si=6asb4AZDEEMgDfqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br />

<!-- insert cloud image -->
<img src="https://cafefcdn.com/thumb_w/640/203337114487263232/2024/9/23/avatar1727049743028-17270497434331309259550.jpg" />
<br />

<!-- insert local image (wwwroot folder) -->
<img src="images/hanoi.jpeg" />