<ol>
    <li>
        <a asp-controller="Mobile" asp-action="Iphone">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/t/_/t_m_17.png" />
        </a>
    </li>
    <li>
        <a href="/Mobile/Samsung">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/s/s/ss-s24-ultra-xam-222.png" />
        </a>
    </li>
</ol>