@model Web2.Models.Student

<h1>Student Info</h1>
<h3>Name: @Model.Name</h3>
<h3>Age: @Model.Age</h3>
<h3>Grade: @Model.Grade</h3>
<h3>Avatar:
    <img src="@Model.Image" width="100" height="100"/>
</h3>